body {
    background: url(seamless.jpg);
    background-position: center;
    background-size: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.object {
    margin: 50px auto;
}

.imgsti {
    width:100%;
}

.imgc {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.ftr {
    margin-top: 20px;
}

.btnact {
    padding: 10px;
}

.buto {
    margin:20px 0 0 0;
}

.loadanim {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid rgba(255, 0, 0, 0.24);
    border-left-color: red;
    margin: 30px auto 0 auto;
    animation: load 1s linear infinite;
}

@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

.ols {
    margin-right:15px;
}

@media (max-width:61.99em) {
    .ols {
        margin-right:0;
        margin-bottom:10px;
        margin-top:10px;
    }
}

@media (max-width:33em) {
    .title {
        display: none;
    }
}